@import "~nord/src/sass/nord.scss";

.add-todo-item {
  background-color: $nord4;
  border-radius: 0.5em;
  box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 50%);
  display: grid;
  gap: 0px 0px;
  grid-template-columns: 2em calc(100% - 2em);
  margin: 0.5em;
  padding: 0.5em;
}

.add-todo-item-checkbox {
  align-items: center;
  display: flex;
  height: 2em;
  justify-content: center;
  width: 2em;
}

div.add-todo-item-checkbox > input[type="checkbox"] {
  display: none;
}

.checkmark {
  background-color: $nord6;
  border-radius: 0.5em;
  height: 100%;
  transition-duration: 0.3s;
  width: 100%;
}

.add-todo-item-checkbox input:checked ~ .checkmark {
  background-color: $nord14;
  box-shadow: inset -1px -1px 2px 1px rgb(0 0 0 / 25%);
}
.checkmark:after {
  content: "";
  display: none;
  height: 1.3em;
  left: 0.65em;
  position: relative;
  top: 0.2em;
  width: 0.7em;
}
.add-todo-item-checkbox .checkmark:after {
  border: solid $nord6;
  border-width: 0 0.3em 0.3em 0;
  transform: rotate(45deg);
}
.add-todo-item-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.add-todo-item-text {
  align-items: center;
  background-color: inherit;
  border-radius: 0.5em;
  border: 0;
  color: $nord2;
  color: inherit;
  display: flex;
  font-family: inherit;
  font-size: 100%;
  justify-content: left;
  margin: 0 0.25em;
  outline: 0;
  padding: 0 0.25em;
  text-align: left;
}

.add-todo-item-text:focus {
  background-color: $nord5;
}
.add-todo-item-text::placeholder {
  opacity: 0.5;
}
